body {
	background-image: url(http://subtlepatterns.com/patterns/congruent_pentagon.png);
}

h1 {
	font-family: helvetica;
	font-size: 12px;
	color: black;
	text-align: center;
}


p {
	font-family: helvetica;
	font-size: 12px;
	color: black;
	margin: 20px;
	padding-left: 10px;
}

.left-p {
	float: left;
	width: 49%;
}

.right-p {
	float: right;
	width: 49%;
}




