/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	height: 945px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container1, .front, .back {
	width: 100%;
	height: 945px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.car {
	height: 945px;
	width: 1400px;
	display: block;	
	margin: auto;
}

.carback {
	background: #003366; 
}

.handback {
	background: #663366;
}

.manback {
	background: #003366;
	height: 1077px;
	padding-top: 90px;
}

img. {
	height: 945px;
	width: 100%;
}

body {
	margin: 0px;

}

.sunset {
	width: 100%;
	height: 850px;
}

.q1.hover {
	color: white;
}

.header { 
	height: 500px;
	background-color: #D1CDCD;

}

.pagetitle {
	font-family: 'Italiana', serif;
	font-size: 85px;
	text-align: center;
	margin: 0;
	padding-top: 50px;
	padding-bottom: 15px;
}


.intro {
	font-size: 15px;
	font-family: 'Pontano Sans', sans-serif;
	color: #666;
	width: 870px;	
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
}

.pintro {
	width: 45%;
	float: left;
	line-height: 30px;
	padding: 31px 0 0 50px;
	font-size: 18px;
}


ul {
	float: left;
	line-height: 22px;
	padding: 39px 0 0 100px;
	color: #EF4723
	

}


li {
	list-style: none;
	font-size: 21px;
	color: #EF4723;
}


.q1 { 
	background: #EF4723; 
	color: #222222;
	height: 945px;
}


.q1text {
	font-family: 'Courgette', cursive;	
	font-size: 60px;
	padding-top: 330px;
	margin: 0;
	text-align: center;
}

.q1author {
	font-family: 'Crimson Text', serif;
	padding-top: 80px;
	padding-right: 20px;
	text-align: center;
	margin: 0;
    

}

.q2 {
	height: 795px;
	background: black;
}

.q2text {
	font-family: 'Archivo Narrow', sans-serif;
	border-bottom: 2px solid #CFC8C8;
	font-size: 85px;
	text-align: left;
	width: 76%;
	padding: 85px 75px 1px 105px;
	color: white;
	margin: 0;
}

.q2author {
	font-family: 'Fjord One', serif;
	color: white;
	font-size: 25px;
	text-align: right;
	padding: 45px 140px 0px 0px;
	margin: 0;
}

.q3 {
	height: 850px;
	background: #FBD605;
	
	
}

.q3text { 
	color: #03070D;
	font-family: 'Rosarivo', serif;
	font-size: 45px;
	text-align: center;
	line-height: 160px;
	padding-top: 140px;
	margin: 0;
}


.q4 {

	background: #00267E;
	height: 950px;
	font-family: 'Vollkorn', serif;
	color: #EBF5FF;
	
}

.q4wrapper {
	font-size: 30px;
	padding-left: 125px;
	padding-top: 240px;
	line-height: 30px;
}

.q4text1 {
	color: #D8D8E3;
}

.q4text2 {
	color: #AEBFCF;
}

.q4text3 {
	color: #86939E;
}

.q4text4 {
	color: #697480;
}

.q4author {
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Old Standard TT', serif;
	letter-spacing: 5px;
	color: #697480;
	text-align: right;
	padding-right: 95px;
	padding-top: 200px;
	margin: 0;
}


.q5 {
	height: 675px;
	padding-left: 60px;
	
}

.q5textwrapper {
	padding-top: 170px;
}

.q5text {
	font-family: 'Abril Fatface', cursive;
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.q5author {	
	font-family: 'Lato', sans-serif;
	border-top: 2px solid black;
	text-align: right;
	padding-top: 15px;
	padding-right: 35px;
	font-size: 20px;
}

.q6 {
	font-family: 'PT Serif', serif;
	height: 795px;
	font-size: 37px;
	background: #EDE0CE;
	color: #161616;
	text-align: left;
	border: 2px solid white;
	padding-top: 279px;
	font-style: italic;
	line-height: 70px;
}



.q6border{
	border: white solid 2.3px;
	padding-left: 158px;
}

.q6text {
	width: 92%;
}

.q6author {


}

.q7 {
	border: 2px solid red;
	height: 435px;
}

/*links */

a:link {
    color: #EF4723;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #EF4723;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

.header { 
	height: 435px;
	background-color: #D1CDCD;
	margin-top: -8px;

}

.pagetitle {
	font-family: 'Italiana', serif;
	font-size: 42px;
	text-align: center;
	position: relative;
	top: 20px;
	right: 7px;
}

ul {
	position: relative;
	left: -380px;
	top: 168px
	

}

.q2 {
	height: 530px;
}

.q2text {
	font-family: 'Archivo Narrow', sans-serif;
	border-bottom: 2px solid #CFC8C8;
	font-size: 24px;
	text-align: left;
	width: 76%;
	padding: 87px 75px 1px 104px;
	color: white;
}





	}
	
}
